.commentContainer{
    border-top: 2px solid gray;
}
.comment{
    border-bottom: 1px solid rgb(80, 80, 80);
}
.commenterImg{
    height:25px;
    width:25px;
}

.commentContainer>div>p{
    font-size:1rem;
}
.commentContainer>div>input{
    height:30px;
    width:91%;
}
.commentContainer>div>button{
    background: none;
    border:none;
}