/* Main background style*/
.main-bg {
  background: #061216;
  min-height: 100vh;
  color: #d8d8d8;
  font-size: 18px;
  scroll-behavior: smooth;
}

/* Common font weight for whole site */
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: 600;
  color: #bebebe;
}
a {
  font-size: 1.6rem;
  color: #bebebe;
  text-decoration: none;
}
a:hover {
  color: #bebebe;
}
button {
  font-size: 1.15rem;
  font-weight: 700;
  color: #bebebe;
  border-radius: 6px;
}
/* Alignment for the whole site : use if any time needed */
.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* buttons default style */
.button-main {
  border: 2px solid #538b84;
  border-radius: 6px;
  color: #d1d1d1;
}
.button-main {
  background: #305a53;
  font-weight: 700;
  width: 150px;
  height: 40px;
}
.button-main:hover {
  background: #0d201c;
  color: #bebebe;
}

/* some fonts height */
.h-12 {
  height: 12px;
}

/* Content/cards default color  */
.contentBg {
  background: #305a538a;
}
.f-header {
  font-size: 3rem;
}
.p-text {
  font-size: 1rem;
  color: #c3c3c3;
}

/* for transparent background */
.bg-transparent {
  background: transparent;
  border: none;
  color: #d1d1d1;
}

/* Card continer */
.cardContainer {
  border-radius: 6px;
  border: 1px solid rgba(255, 0, 0, 0);
  margin: 0 0 15px 0;
}

/*Post useric */
.post-userpic {
  height: 42px;
  width: 37px;
}

/*---------Input style-------------*/
.form__group {
  position: relative;
  padding: 14px 0 0 0;
  width: 95%;
}
.form__field {
  border: 0;
  border-bottom: 2px solid #538b84;
  outline: 0;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #037d48);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #efefef;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Cursor pointer */
.cursor{
  cursor: pointer;
}