/* Main background style*/
.main-bg {
  background: #061216;
  min-height: 100vh;
  color: #ffffff;
  font-size: 18px;
  position:relative;
}

/* Alignment for the whole site : use if any time needed */
.alignCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input filed and buttons default style */
.input-field,.button-main {
  border: 2px solid #538b84;
  border-radius: 6px;
  color: #d1d1d1;
}
.input-field {
  background: #0d201c;
  width:350px;
  height:40px;
}
.button-main {
  background: #305a53;
  font-weight: 700;
  width:150px;
  height:40px;
}
.button-main:hover {
  background: #0d201c;
  color: #bebebe;
}

/* Content/cards default color  */
.contentBg{
  background: #305a538a;
}

/* Error color  */
.error{
  color:red;
}

/* for transparent background */
.bg-transparent{
  background: transparent;
  border:none;
  color:#d1d1d1;
}

/* test width */
.w{
  width:100%;
}