.cardBg {
  border-radius: 10px;
  position: absolute;
  top:9%;
  left: 9%;
}
.sidecard {
  background-image: url("../styles/assets/Login_Register_Side-bg.png");
  overflow: hidden;
  height: 550px;
}
.iconSize{
  font-size:2.5rem;
  font-weight: 500;
}

.formCard{
  margin-top: 8%;
}
.formCard>p {
  font-weight: 600;
  text-align: center;
  position: relative;
}
.formCard>p:before ,.formCard>p:after{
  content: "";
  display: block;
  width: 295px;
  height: 5px;
  background: #167658;
  top: 50%;
}
.formCard>p:before {
  left: 0;
  position: absolute;
}
.formCard>p:after {
  right: 0;
  position: absolute;
}