.cardBg {
  border-radius: 10px;
  position: absolute;
  top:9%;
  left: 9%;
}
.sidecard {
  background-image: url("../styles/assets/Login_Register_Side-bg.png");
  overflow: hidden;
  height: 550px;
}
.iconSize{
  font-size:2.5rem;
  font-weight: 500;
}

.formCard{
  margin-top: 8%;
}