.profile_name{
    font-size: 1.20rem;
}

.postContainer>div>article{
    font-size:1.05rem;
}

.showHide{
    color: rgba(202, 202, 202, 0.473);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.30rem;
}
.postImage{
    height:200px;
    overflow:hidden;
}