.shareAdd {
  background: #538b84;
  height: 30px;
  width: 35px;
  cursor: pointer;
}

.addicon {
  font-size: 1.5rem;
  color: #16292f;
}
.addicon:hover {
  color: #d1d1d1;
}

.rateicon {
  font-size: 1.2rem;
  margin: 0 8px 0 0;
}

.list {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: rgb(250, 250, 250);
  margin: 8% 4% 0 2%;
}

/* Post Create Container --Modal-- */
.textArea{
  height:180px;
}