.profilePic{
    height:100%;
    width:98.5%;
    overflow: hidden;
}
.userCard{
    position: relative;
}
.details{
    position:absolute;
    bottom:1%;
    background:rgba(48, 90, 83, 0.85);
    justify-items: center;
}